<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   gameStats.plist
   ChurnItUp_Real

   Created by Jennifer Diederich on 2/27/18.
   Copyright (c) 2018 Craker, Rydge. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
