<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608999206898-2l04cv99drbmt1sfvdgehdqggblam8lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608999206898-2l04cv99drbmt1sfvdgehdqggblam8lp</string>
	<key>API_KEY</key>
	<string>AIzaSyCovAxeWzwsTv_iBhn7dpvPTRob0LI-icA</string>
	<key>GCM_SENDER_ID</key>
	<string>608999206898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>advanced-iOS-cvtc.edu.ChurnItUp-Real</string>
	<key>PROJECT_ID</key>
	<string>churnitup-cde51</string>
	<key>STORAGE_BUCKET</key>
	<string>churnitup-cde51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608999206898:ios:58a3211792178463</string>
	<key>DATABASE_URL</key>
	<string>https://churnitup-cde51.firebaseio.com</string>
</dict>
</plist>